


<div class="hidden xs:flex flex-col">

  <div class="flex p-2">
    <a class="btn flex lg:hidden btn-ghost text-xl">
      <img ngSrc="assets/imgs/ico-v2.png" height="40" width="35" alt="">
    </a>
    <a class="btn hidden lg:flex btn-ghost text-xl">
      <img ngSrc="assets/imgs/logo-horizontal-v2-140x140.png" height="38" width="140" alt="">
    </a>
  </div>

  <ul class="menu flex flex-col lg:w-56 gap-2 py-8">
    <li>
      <a>
        <span class="material-symbols-rounded">contacts_product</span>
        <span class="hidden lg:flex"> Contacts </span>
      </a>
    </li>
    <li>
      <a>
        <span class="material-symbols-rounded">diversity_3</span>
        <span class="hidden lg:flex"> Groups </span>
      </a>
    </li>
    <li>
      <a>
        <span class="material-symbols-rounded">query_stats</span>
        <span class="hidden lg:flex"> Summary </span>
      </a>
    </li>
  </ul>

</div>
