


<div class="hidden xs:flex flex-col bg-neutral h-screen">

  <div class="flex p-2">
    <a class="btn flex md:hidden btn-ghost text-xl">Ex</a>
    <a class="btn hidden md:flex btn-ghost text-xl">Expenses</a>
  </div>

  <ul class="menu sm:w-fit md:w-56 gap-2 py-8">
    <li>
      <a>
        <span class="material-symbols-rounded">contacts_product</span>
        <span class="hidden md:flex"> Contacts </span>
      </a>
    </li>
    <li>
      <a>
        <span class="material-symbols-rounded">diversity_3</span>
        <span class="hidden md:flex"> Groups </span>
      </a>
    </li>
    <li>
      <a>
        <span class="material-symbols-rounded">query_stats</span>
        <span class="hidden md:flex"> Summary </span>
      </a>
    </li>
  </ul>

</div>
