

<div class="flex mt-16 xs:hidden">

  <div class="btm-nav btm-nav-md bg-neutral">

    <a routerLink="contacts" routerLinkActive="bg-neutral active text-primary">
      <span class="material-symbols-rounded">contacts_product</span>
      <span class="btm-nav-label">Contacts</span>
    </a>

    <a routerLink="groups" routerLinkActive="bg-neutral active text-primary">
      <span class="material-symbols-rounded">diversity_3</span>
      <span class="btm-nav-label">Groups</span>
    </a>

    <a routerLink="summary" routerLinkActive="bg-neutral active text-primary">
      <span class="material-symbols-rounded">query_stats</span>
      <span class="btm-nav-label">Summary</span>
    </a>

  </div>

</div>


