
<div class="flex flex-col gap-8 py-6">


  <div class="flex flex-wrap gap-y-6 gap-x-8 text-base-content/50 justify-between">

    <div class="breadcrumbs">
      <ul>
        <li><a> Groups </a></li>
        <li><a> New </a></li>
      </ul>
    </div>

    <div class="flex flex-col flex-1 justify-end">
      <a routerLink="/groups" class="btn btn-primary self-end"><= back</a>
    </div>

  </div>

  <form [formGroup]="formNewGroup" (ngSubmit)="addGroup(formNewGroup)" class="flex flex-col gap-4">

    <div class="form-control w-full">
      <label class="input-label-app"> Title </label>
      <input type="text" value="" class="input-text-app" formControlName="title" />
    </div>

    <div class="form-control">
      <div class="label">
        <span class="label-text">Category</span>
      </div>
      <select value="" class="select-app" formControlName="category">
        <!--<option disabled selected>Select...</option>-->
        <option selected>Select...</option>
        @for (category of groupCategory; track groupCategory) {
          <option>{{category}}</option>
        }
      </select>
    </div>

    <div class="stats">
      <div class="stat">
        <div class="stat-desc">Status</div>
        <input type="text" class="stat-title min-w-0 text-primary/60 bg-base-100"
               value="" formControlName="status" />
      </div>
      <div class="stat">
        <div class="stat-desc">Created at</div>
        <input type="text" class="stat-title min-w-0 text-primary/60 bg-base-100 text-sm"
               value="" formControlName="created" />
      </div>
    </div>

    <button type="submit" class="btn-primary-app max-w-2xl" [disabled]="!formNewGroup.valid">
      save new group
    </button>

  </form>

</div>
