

<div class="card bg-neutral/50 hover:bg-neutral cursor-pointer rounded-lg">
  <div class="card-body flex-row flex-wrap items-center justify-center px-2 py-4">

    <!-- <span class="text-success">-</span> <span class="text-primary">-</span>
    <span class="badge-success">-</span> <span class="badge-primary">-</span>   -->

    <div class="flex flex-col avatar placeholder mask mask-squircle">
      <div class="bg-neutral w-12">
        <span class="material-symbols-rounded symbols-solid font-light text-3xl">home</span>
      </div>
    </div>

    <div class="flex flex-col flex-1 min-w-fit">
      <h1 [ngClass]="style.text_color"> {{group.title}} </h1>
      <span class="text-sm"> debt/lent ${{group.spent}} </span>
    </div>

    <div class="flex flex-col items-center">
      <div class="badge text-xs" [ngClass]="style.badge_color">{{group.status}}</div>
    </div>

  </div>
</div>
