


<div class="navbar bg-neutral justify-center">
  <div class="flex w-full pr-5 justify-between">

    <div class="flex ml-3 xs:hidden">
      <img ngSrc="assets/imgs/logo-horizontal-v2-140x140.png" height="38" width="140" alt="">
    </div>

    <div class="hidden xs:flex w-full justify-start">
      Groups
    </div>

    <div class="dropdown dropdown-end">

      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <img alt="Tailwind CSS Navbar component"
               src="https://daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
        </div>
      </div>

      <ul tabindex="0" class="z-[1] p-0 shadow menu dropdown-content bg-neutral rounded-box">
        <li>
          <div class="flex flex-row px-8">
            <span class="material-symbols-rounded">badge</span>
            <a class="justify-between"> Profile </a>
          </div>
        </li>

        <li>
          <div class="flex flex-row px-8">
            <span class="material-symbols-rounded">logout</span>
            <a>Logout</a>
          </div>
        </li>
      </ul>

    </div>


  </div>
</div>




