
  name: "Deploy frontend to firebase"
  on:
    push:
      branches:
        - master
  jobs:
    build_and_deploy:
      runs-on: ubuntu-latest
      steps:
        - name: checkout Repo
          uses: actions/checkout@v3

        - name: Install dependencies
          run: npm install --force && npm run build

        - name: Deploy to firebase with FirebaseExtended package
          uses: FirebaseExtended/action-hosting-deploy@v0
          with:
            repoToken: '${{ secrets.GITHUB_TOKEN }}'
            firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_EXPENSES_APP_6300D }}'
            channelId: live
            projectId: expenses-app-6300d
